body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7ca1b8;
}
header {
    width: 100%;
    background: #7ca1b8;
    color: #ffffff;
    padding: 10px 20px;
    text-align: left;
    top:0;    
}
#title{
   
    width:250px;
}
#title a{
    
    text-decoration: none; 
    color: #000000;
}
#title a:hover{
    color: #000000;
}
/*導覽區*/
nav {
    margin: 10px 50px 0px 0px;
    text-align: right;
}
/*導覽區*/
nav a {
    margin:5px;
    color: #ffffff;
    text-decoration: none;       
}
/*超連結文字效果*/
header a:hover{
    color: #000000;
	
}
section {
    overflow: auto;
    padding: 10px;
    background: #ffffff;
    margin:20px;
    border-radius: 5px;
    column-count: 2;
}
/*側邊頭像*/
aside{
    width: 100%;
    height: 100%;
    padding: 0px ;
    margin: 10px 15px 10px 0px;
}
/*照片*/
.placehoider{
    padding: 0px;
    width:50%;
    border: #000000;
    border-radius: 99em;
    border-style: solid;
    float: right;
}
/*文字區*/
article{
    overflow: auto;
    width: 90%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    padding: 15px;
    height: auto;
    
}
article h2{
    font-size: 36px;
}
.btn{
    align-self: auto;
}
article button{
    
    width: 100px;
    height: auto;
    background-color:  #3c93e4;
    border-radius: 99em;
    border-style:none;
    color:white;
    font-size: 24px;
    font-family: fantasy;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
hr{
    border: 0;
    padding-top: 10px;
    color: #d0d0d5;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: inset 0 10px 10px -10px;
}
footer {
    column-count: 4;
    clear: left;
    text-align: center;
    padding: 10px 0;
    background: #7ca1b8;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
    
}
.footer-menu{
    list-style: none;
    float:left;
    
    width: 25%;
    overflow: auto;
    li{
      float: left;
      margin-right: 1em;
    }
    img{
        height: 30px;
        width: 30px;
    }

}